.sawarabi-gothic-regular {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Sawarabi Gothic", sans-serif;
}
/* Reset CSS */

/* Box sizing border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default margin and padding for the body */
body {
  margin: 0;
  padding: 0;
}
/* Remove default styles for anchor tags */
a {
  text-decoration: none;
}

/* Standardize default spacing for elements */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
